name: Test Workflow
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - name: Checkout skyrim-multiplayer/skymp
        uses: actions/checkout@v3
        with:
          repository: 'skyrim-multiplayer/skymp'
          ref: 'main'
          path: 'skyrim-multiplayer/skymp'

      - name: Merge Pull Requests
        uses: Pospelove/auto-merge-action@main
        with:
          generate-build-metadata: 'true'
          path: 'skyrim-multiplayer/skymp'
          repositories: |
            [
              {
                "owner": "skyrim-multiplayer",
                "repo": "skymp",
                "labels": ["merge-to:indev"]
              },
              {
                "owner": "skyrim-multiplayer",
                "repo": "skymp5-patches",
                "token": "${{ secrets.PATCHES_GITHUB_TOKEN }}",
                "labels": ["merge-to:indev"]
              }
            ]

      # - name: Upload archive with merged changes
      #   uses: actions/upload-artifact@v2
      #   with:
      #     name: merged-changes
      #     path: skyrim-multiplayer/skymp

      - name: Upload build metadata
        uses: actions/upload-artifact@v4
        with:
          name: build-metadata.json
          path: build-metadata.json
